
       span{
        margin: 58px;
        
       }
       div{
        background: rgba(0,0,0,.5);
        margin-bottom: 20px;
        padding: 20px;

       }
       .info{
        background: #FA2727  ;
       }
  